#top {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 1.5em;
    background-color: #ffc0cb;
}
#top a {
    text-decoration: none;
}
#top .left, #top .right {
    margin: .15em .4em;
}

#main {
    margin-top: 2em;
    margin-right: 21%;
}

#right {
    position: absolute;
    top: 2em;
    left: 79%; width: 20%;
}
#right .tags {
    margin: 0; padding: 0; width: 100%;
    list-style-type: none;
}
#right .tags a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
    background: #eee;
    border: thin solid white;
}
#right .tags a .c {
    position: absolute;
    right: .2em;
}

.left {
    float: left;
}
.right {
    float: right;
}

h1, h2, h3, h3, h4, h5, h6 {
    padding: 0; margin: 0;
}

fieldset {
    display: block;
    border: none;
}
.b {
    font-weight: bold;
}

a, a:visited, a:hover {
    color: black;
}

.links {
    list-style-type: none;
    padding-left: 3.5em;
}
.links > li {
    margin-top: .2em;
}

.links .stamp {
    position: absolute;
    left: 0.1em;
    width: 3.33em;
    text-align: right;
    color: #fedabe;
}

.links a {
    font-size: 125%;
    text-decoration: none;
}

.link a {
    display: block;
}
.links .link:hover a {
    text-decoration: underline;
}

.links .description {
    color: #666;
}

.actions, .tags {
    display: inline-block;
}

.links .tags a {
    margin-right: .3em;
    padding: 0 .2em;
    background-color: #fed;
}
.links .tags a:hover {
    text-decoration: underline;
}

.links .actions a {
    color: #abe;
}
.links .actions a:hover {
    text-decoration: underline;
}
